/* Nav styles */
.open-sans-general {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
header nav{
    display: flex;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav span{
    color: orange ;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-right: 50px;
}
.primary-button{
    background-color: orange;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 200px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font: 85px bolder;
}
.banner-profile-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}

/* main */
main{
    margin: 0px auto;
    width: 1140px;
    
}
.aobut{
    background-color: #FFF8F3;
    padding: 130px 150px;   
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
/* about items styles */
.about-items{
    display: flex;
    align-items: center;
    /* margin: 40px auto; */
    justify-content: space-around;
    /* padding: 40px auto; */
}